<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <h1>Questions</h1>
      <% @question.each do |question| %>
<<<<<<< HEAD
        <h2><%= link_to question.title, question_path(question)  %></h2>
        <p><%= "desc" %></p>
          <% if user_signed_in? && question.user == current_user %>
            <div class="actions text-rigth">
              <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_question_path(question) %>
              <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, question, method: :delete, data: { confirm: "¿Estás seguro de eliminar este questiono?" } %>
            </div>
          <% end %>
=======
      <h2><%= link_to question.title, question_path(question)  %></h2>
      <p><%= "Pregunta" %></p>
      <p><%= link_to "Edit", edit_question_path(question) %>
      <%= link_to "Eliminar", question, method: :delete,data: { confirm: "¿Estás seguro?" } %></p>

>>>>>>> master
      <% end %>

        <div class="">
          <%= link_to "Preguntar", new_question_path ,class:"" %>
        </div>
      </div>
    </div>
  </div>
