<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <h1><%= @question.title %></h1>
      <p>
        <%= @question.description%>
      </p>

      <h2>Respuestas</h2>
      <% @question.comments.each do |comment| %>
      <div class="panel panel-default">
        <header class="panel-heading"><%= comment.user.email %>
        </header>
        <div class="panel-body"><%= comment.body %></div>
      </div>
      <% end %>

      <% if signed_in? %>
        <%= form_for [@question, @question.comments.build] do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario" %>
          </div>

          <div class="actions text-right">
            <%= f.submit "Comentar", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>


    </div>
  </div>
</div>
