<!DOCTYPE html>
<html>
  <head>
    <title>FlowOverStack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:notice] %>
      <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p class="notice"><%= flash[:notice]%></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p class="alert"><%= flash[:alert]%></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
